{% extends 'server/master.html' %}

{% block page_tittle %}
{{ Category.name }}
{% endblock %}

{% block page_content %}
        <main class="main">

            <div class="sales">
                <div class="main_header">{{ Category.name }}</div>

                <div class="sales_content">

                    {% for itm in types %}
                    <div class="product_vision_one">
                            <img class="img_vision_one" src="{{ itm.src }}" alt="{{ itm.name }}">
                            <div class="name_vision_one">
                                    {{ type.name }}
                            </div>
                            <div class="name_vision_one">
                                    {{ product.description }}
                            </div>
                            <div class="price">
                                <div class="old_price">{{ product.old_price }}</div>
                                <div class="new_price">{{ product.new_price }}</div>
                            </div>
    
                            <button class="buy_button">
                                В корзину
                            </button>
                        </div>
                    {% endfor %}

                </div>
            </div>



        </main>
{% endblock %} 
