<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Job'Store</title>
    <link rel="stylesheet" href="/static/css/css.css">
</head>

<body class="body">

    <header class="header">

        <div class="header_presentation">
            <div class="brand">
                <a href="index.html" class="main_page">
                    <div class="brand_name">Job'Store</div>
                    <div class="brand_description">Магазин техники Apple</div>
                </a>
            </div>

            <div class="open">
                <img src="media/open_sign.png" alt="" class="open_sign">
                <div class="open_time">с 10:00 до 21:00</div>
            </div>

            <div class="contacts">
                <div class="contacts_name">
                    <div class="phone_number_name">phone number:</div>
                    <div class="email_name">email:</div>
                    <div class="telegram_name">telegram:</div>
                </div>
                <div class="contacts_data">
                    <div class="phone_number">+7 (495) 555 77 55</div>
                    <div class="email">hello@jobstore.ru</div>
                    <div class="telegram">@jobstore</div>
                </div>
            </div>
        </div>
    </header>

    <div class="menu_panel">
        <ul class="navigation_menu">
            <li class="menu_li"><a class="menu_a" href="mac.html">Mac</a>
                <div class="wrapper_secondfloor">
                    <ul class="navigation_menu_secondfloor">
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iMac</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">MacBook Pro</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">MacBook Air</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">MacBook</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">Mac Pro</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">Mac Mini</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu_li"><a class="menu_a" href="iphone.html">iPhone</a>
                <div class="wrapper_secondfloor">
                    <ul class="navigation_menu_secondfloor">
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iPhone 6</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iPhone 6s</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iPhone 7</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iPhone 8</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iPhone X</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iPhone Xs</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu_li"><a class="menu_a" href="watch.html">Watch</a>
                <div class="wrapper_secondfloor">
                    <ul class="navigation_menu_secondfloor">
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">Watch Series 4</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">Watch 4 Nike+</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">Watch Series 3</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">Watch 3 Nike+</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">Watch Series 2</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">Watch 2 Nike+</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu_li"><a class="menu_a" href="watch.html">iPad</a>
                <div class="wrapper_secondfloor">
                    <ul class="navigation_menu_secondfloor">
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iPad Pro 12.9</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iPad Pro 11</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iPad Pro 10.5</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iPad 2018</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iPad 2017</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">iPad Mini</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu_li"><a class="menu_a" href="watch.html">TV</a>
                <div class="wrapper_secondfloor">
                    <ul class="navigation_menu_secondfloor">
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">Apple TV 4K</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">Apple TV 4</a></li>
                        <li class="menu_secondfloor"><a href="" class="a_secondfloor">Apple HomePod</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu_li"><a class="menu_a" href="support.html">Поддержка</a></li>
            <li class="menu_li"><a class="menu_a_graphic" href="cart.html"><img class="icon_link" src="media/icons8-shopping_bag.png" alt="cart"></a></li>
            <li class="menu_li"><a class="menu_a_graphic" href="search.html"><img class="icon_link" src="media/icons8-search.png" alt="search"></a></li>
        </ul>

    </div>




    <div class="wrapper">
        <main class="main">

            <div class="sales">
                <div class="main_header">Февральские акции</div>

                <div class="sales_content">

                    <div class="product_vision_one">
                        <img class="img_vision_one" src="media/ipad-pro-12in-cell-select-gold.jpg" alt="">
                        <div class="name_vision_one">
                            Apple iPad Pro 12.9"(2017)
                        </div>
                        <div class="name_vision_one">
                            512GB Wi-Fi + Cellular Gold
                        </div>
                        <div class="price">
                            <div class="old_price">91.990₽</div>
                            <div class="new_price">86.990₽</div>
                        </div>

                        <button class="buy_button">
                            В корзину
                        </button>
                    </div>

                    <div class="product_vision_one">
                        <img class="img_vision_one" src="media/ipad-wifi-select-gold-201803.212x212.png" alt="">
                        <div class="name_vision_one">
                            Apple iPad (2018)
                        </div>
                        <div class="name_vision_one">
                            128GB Wi-Fi + Cellular Gold
                        </div>
                        <div class="price">
                            <div class="old_price">42.490₽</div>
                            <div class="new_price">39.490₽</div>
                        </div>

                        <button class="buy_button">
                            В корзину
                        </button>
                    </div>

                    <div class="product_vision_one">
                        <img class="img_vision_one" src="media/iphone7-rosegold-select-2016_av1.212x212.png" alt="">
                        <div class="name_vision_one">
                            Apple iPhone 7
                        </div>
                        <div class="name_vision_one">
                            32GB Rose Gold
                        </div>
                        <div class="price">
                            <div class="old_price">34.990₽</div>
                            <div class="new_price">31.990₽</div>
                        </div>

                        <button class="buy_button">
                            В корзину
                        </button>
                    </div>

                    <div class="product_vision_one">
                        <img class="img_vision_one" src="media/mnng2ru.212x212.jpeg" alt="">
                        <div class="name_vision_one">
                            Apple Watch Series 2
                        </div>
                        <div class="name_vision_one">
                            38mm, silver, алюминевые
                        </div>
                        <div class="price">
                            <div class="old_price">91.990₽</div>
                            <div class="new_price">86.990₽</div>
                        </div>

                        <button class="buy_button">
                            В корзину
                        </button>
                    </div>

                    <div class="product_vision_one">
                        <img class="img_vision_one" src="media/MacBookAirSale.jpg" alt="">
                        <div class="name_vision_one">
                            MacBook Air 13'' (2017)
                        </div>
                        <div class="name_vision_one">
                            1.8Ghz, 8Gb, 128Gb (РСТ)
                        </div>
                        <div class="price">
                            <div class="old_price">71.990₽</div>
                            <div class="new_price">61.990₽</div>
                        </div>

                        <button class="buy_button">
                            В корзину
                        </button>
                    </div>

                    <div class="product_vision_one">
                        <img class="img_vision_one" src="media/tv4.png" alt="">
                        <div class="name_vision_one">
                            Apple TV 4'' (2017)
                        </div>
                        <div class="name_vision_one">
                            32Gb
                        </div>
                        <div class="price">
                            <div class="old_price">13.990₽</div>
                            <div class="new_price">10.990₽</div>
                        </div>

                        <button class="buy_button">
                            В корзину
                        </button>
                    </div>

                    <div class="product_vision_one">
                        <img class="img_vision_one" src="media/beats_one.jpeg" alt="">
                        <div class="name_vision_one">
                            Беспроводные наушники
                        </div>
                        <div class="name_vision_one">
                            Beats x
                        </div>
                        <div class="price">
                            <div class="old_price">8.990₽</div>
                            <div class="new_price">7.490₽</div>
                        </div>

                        <button class="buy_button">
                            В корзину
                        </button>
                    </div>

                    <div class="product_vision_one">
                        <img class="img_vision_one" src="media/beats_two.jpeg" alt="">
                        <div class="name_vision_one">
                            Наушники Beats
                        </div>
                        <div class="name_vision_one">
                            Solo3 Wireless
                        </div>
                        <div class="price">
                            <div class="old_price">71.990₽</div>
                            <div class="new_price">61.990₽</div>
                        </div>

                        <button class="buy_button">
                            В корзину
                        </button>
                    </div>

                </div>
            </div>



        </main>
    </div>


    <footer class="footer">
        <div class="copy">&copy; Все права защищены у Алексея Кадочникова</div>
    </footer>

</body>

</html>
